@use 'baseColors' as colors;

.badge {
    font-size: 0.963rem;
    padding: 6px 12px;
    border-radius: 42px;
    height: 32px;
    display: flex;
    align-items: center;
    border: none;
    background-color: colors.$filters-item-background;
    cursor: pointer;
}

.active {
    background-color: colors.$filters-item-active-background;
    color: colors.$filters-item-active-color;
}