.iconMedium {
  width: 32px;
  height: 32px;
}

.iconSmall {
  width: 24px;
  height: 24px;
}

button.p0 {
  padding: 0;
}

.dFlex {
  display: flex;
}

.gap8 {
  gap: 8px;
}

.mt32 {
  margin-top: 32px;
}
